@import "common.scss";
@import "_minix.scss";
.wrapper {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
}

header {
    width: 100%;
    height: pxTorem(50px);
    @include box_flex;
    @include justify(space-between);
    padding: 0 pxTorem(10px);
    @include sizing;
    @include align;
    background: #53AB3A;
    span {
        font-size: pxTorem(16px);
        color: #fff;
        img {
            width: pxTorem(30px);
            height: pxTorem(30px);
        }
    }
}

section {
    width: 100%;
    height: 80%;
    background: #ccc;
    @include box_flex;
    @include direction(column);
    .banner {
        width: 100%;
        height: pxTorem(120px);
        .swiper-wrapper {
            width: 100%;
            height: 100%;
            .swiper-slide {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}