@import "common.scss";
@import "_minix.scss";
.wrapper {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
}

header {
    width: 100%;
    height: pxTorem(50px);
    @include box_flex;
    @include justify(space-between);
    padding: 0 pxTorem(10px);
    @include sizing;
    @include align;
    background: #53AB3A;
    span {
        font-size: pxTorem(16px);
        color: #fff;
        img {
            width: pxTorem(30px);
            height: pxTorem(30px);
        }
    }
}

section {
    width: 100%;
    height: 90%;
    // background: #ccc;
    @include flex_shrink(0);
    overflow-y: hidden;
    @include box_flex;
    @include direction(column);
    .banner {
        width: 100%;
        height: pxTorem(120px);
        @include flex_shrink(0);
        .swiper-wrapper {
            width: 100%;
            height: 100%;
            .swiper-slide {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .listDL {
        width: 100%;
        @include flex_shrink(0);
        height: pxTorem(150px);
        @include box_flex;
        @include flexWrap;
        margin-top: pxTorem(10px);
        dl {
            width: 20%;
            height: 50%;
            @include box_flex;
            @include align;
            @include justify;
            @include direction(column);
            dt {
                img {
                    width: pxTorem(50px);
                    height: pxTorem(50px);
                }
            }
        }
    }
    .listAll {
        width: 100%;
        height: pxTorem(330px);
        // background: yellow;
        .box {
            width: 100%;
            .listF {
                width: 100%;
                height: pxTorem(50px);
                @include align;
                @include justify(space-around);
                @include align;
                @include box_flex;
            }
            .listS {
                width: 100%;
                height: auto;
                // background: yellow;
                dl {
                    width: 100%;
                    height: pxTorem(200px);
                    // background: red;
                    @include box_flex;
                    @include align;
                    padding: 0 pxTorem(20px);
                    @include sizing;
                    border-bottom: 1px solid #ccc;
                    dt {
                        width: pxTotrm(150px);
                        height: pxTorem(150px);
                        img {
                            width: pxTorem(140px);
                            height: pxTorem(140px);
                        }
                    }
                    dd {
                        margin-left: pxTorem(15px);
                        @include sizing;
                        font-size: pxTorem(16px);
                    }
                }
            }
        }
    }
}